@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@500&family=Nanum+Gothic&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-weight: 200;
    color: black;
    background-color: rgb(243, 237, 235)
}


label.logo {
    color: black;
    font-size: 55px;
    line-height: 80px;
    padding: 0 10px;
    font-family: 'Comforter', cursive;
    cursor: pointer;
}


.checkbutton {
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

#image-outer {
    width: 100vw;
    height: 100vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    object-fit: cover;
    background-image: url('images/main-image.webp');
}

#middlename {
    text-align: center;
    margin: 30px 0;
    font-size: 280%;
}

#middletext {
    margin: 10px 50px 40px 50px;
    font-size: 25px;
}

#heading-text {
    margin: 10px 50px 30px 50px;
}

.first-line {
    display: flex;
    justify-content: space-around;
}

.box {
    flex: 0 0 40%;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    background-color: rgb(247, 244, 239);
    margin-top: 15px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 3px;

}

h3 {
    line-height: 30pt;
}

img {
    width: 15vw;
    height: 25vh;
}

footer {
    margin-top: 20px;
    bottom: 0;
    left: 0;
    right: 0;
    background: orange;
    height: 20vh;
    width: 100vw;
    color: black;
}

.social-networks {
    text-align: center;
    background-color: orange;

}

.social-networks>li {
    display: inline;
    margin: 20px;

}

.social-networks i {
    font-size: 160%;
    margin: 2px;
    padding: 15px;
    color: black;

}

.social-networks i:hover {
    color: aliceblue;
}

iframe {
    margin-top: 20px;
    display: flex;
    width: 100%;
    height: 500px;
}

.written {
    margin: 0 0 0 35px;

}

h2 {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    font-family: 'Pacifico', cursive;
}

h2:before,
h2:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    margin: auto;
}

h2:before {
    margin-right: 15px;
}

h2:after {
    margin-left: 15px;
}

.image {
    width: 30vh;
    height: 40vh;
    padding: 5px;
}

.box1 {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}

.book {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    text-align: center;
    transition: 1s;

}

.box1 a:hover {
    transform: scale(1.1);
    color: #0d0d0d;

}

.freedom-fighter-movies {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    text-align: center;
}

.movies {
    border: 2px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: 1s;
}

.freedom-fighter-movies a:hover {
    transform: scale(1.1);
    color: #0d0d0d;
}


.image-movies {
    width: 20vw;
    height: 40vh;
    padding: 6px;
}

.more-reference>p {
    text-align: center;
    margin: 20px;
    letter-spacing: 2px;
    font-size: large;
}

.Reference-link p {
    font-size: large;
    text-decoration: none;
    color: black;
    line-height: 20pt;
}

.Reference-link {
    border-radius: 2em;
    background-color: #FAFAFA;
    color: black;
    box-shadow: 0 1px 10px 2px rgba(28, 27, 27, 0.837);
    padding: 0.5rem 3rem;
    text-decoration: none;
    line-height: 20pt;
}

.Reference-link:hover {
    background-color: black;
    color: #FAFAFA
}

.flag-image {
    width: 25vw;
    height: 30vh;
}

.flag-year {
    flex: 0 0 40%;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    background-color: rgb(247, 244, 239);
    margin-top: 15px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 3px;
}


.flag-box {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;

}

.flag-year>img {
    width: 300px;
    height: 200px;
}

.flag-year>p {
    justify-items: center;
    margin-top: 10px;
    padding: 5px;
}

.independence-image {
    width: 250px;
    height: 250px;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
}

#independence-details {
    display: inline-block;
}

.more-history>p {
    font-size: large;
    text-decoration: none;
    color: black;
    line-height: 20pt;
}

.History-link {
    border-radius: 2em;
    background-color: #FAFAFA;
    color: black;
    box-shadow: 0 1px 10px 2px rgba(28, 27, 27, 0.5);
    padding: 0.5rem 3rem;
    text-decoration: none;
    line-height: 20pt;

}

.more-history>p {
    text-align: center;
    margin: 20px;
    letter-spacing: 2px;
    font-size: large;
}

.History-link:hover {
    background-color: black;
    color: #FAFAFA
}

.Indian-achievement {
    margin: 50px;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;


}

.Indian-achievement-detail {
    display: flex;
    text-align: justify;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    margin-top: 15px;
    background-color: rgb(247, 244, 239);
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border-radius: 20px;

}

.Contact {
    position: relative;
    min-height: 100vh;
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.content .Contact {
    max-width: 800px;
    text-align: center;
}




.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .contactInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contactInfo .box3 {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contactInfo .box3 .icon {
    min-width: 60px;
    height: 60px;
    background-color: #FAFAFA;
    border: #0d0d0d;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.cards {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;

}

.container .contactInfo .box3 .text h3 {
    display: flex;
    margin-left: 10px;
    font-size: large;
    flex-direction: column;
    font-weight: 800;
}


.text p {
    font-size: 20px;
    font-weight: 300;
    margin-left: 10px;
}


form {
    font-size: 20px;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    padding: 30px;
    overflow: hidden;
    background-color: orange;
    border-radius: 20px;
    color: #FAFAFA;
}

input[type=text] {
    width: 100%;
    display: block;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=email] {
    width: 100%;
    display: block;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;

}

input,
input::placeholder {
    font-size: 20px;
}

textarea {
    width: 100%;
    height: 100px;
    display: block;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 50%;
    height: 30px;
    background-color: black;
    color: #FAFAFA;
    border: none;
    border-radius: 10px;
}

input[type=submit]:hover {

    background-color: whitesmoke;
    color: black;
    font-weight: 600;
}

.Thankyou-img{
    width:40vw;
    height:50vh;
    border-radius: 10px;
    display: block;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 10px;
}
.thanks-text{
    text-align: center;
    font-size: x-large;
    margin-top: 20px;
}

.thanks-texts{
    text-align: center;
    margin-top: 10px;

}



/* meadia Query for different screen */
@media screen and (max-width:1250px) {
    .cards {
        grid-template-columns: repeat(2, 1fr) !important;
    }
    .Indian-achievement-detail{
        margin: 10px;
    }
    .cards{
        margin-right:20px;
    }
    

}

@media screen and (max-width: 700px) {
    .cards {
        grid-template-columns: repeat(1, 1fr) !important;
    }

    .box {
        width: 90%;
        margin: auto;
    }
    .flag-year{
        width: 90%;
        margin: auto;
    }
    .Indian-achievement-detail{
        width:90%;
        margin: auto;
        margin-top: 10px;
    }
    

    .flag-box {
        grid-template-columns: repeat(1, 1fr);
    }

    .Indian-achievement {
        grid-template-columns: repeat(1, 1fr);
    }


}

@media (min-width: 900px) {
    .cards {
        grid-template-columns: repeat(3, 1fr);
    }

    .flag-box {
        grid-template-columns: repeat(3, 1fr);
    }

    .Indian-achievement {
        grid-template-columns: repeat(2, 1fr);
    } 

}

@media screen and (max-width:952px) {

    label.logo {
        font-size: 35px;
        width: 65%;
        height: 120px;
        padding-left: 50px;

    }

    nav ul li a {
        font-size: 16px;
    }
    .Thankyou-img{
        width:60vw;
        height: 40vh;
    }
}

@media screen and (max-width:994px) {
    .checkbutton {
        display: block;
    }

    nav {
        min-width: 100%;
        min-height: 80px;
    }

    .social-networks ul {
        position: static;
        width: 100%;
        height: 60vh;
        background-color: black;
        color: #FAFAFA;
        text-align: center;
        transition: all .5s;

    }

    nav ul li {
        display: block;
        margin: 50px;
        line-height: 40px;


    }

    nav ul li a {
        font-size: 20px;
        color: #FAFAFA;
    }

    #check:checked~ul {
        left: 0;
    }

    #image {
        width: 100%;
        height: 100%;

    }

    .social-networks>li {
        display: inline;
        margin-bottom: 10px;
    }

    .social-networks li h6 {
        margin-top: 10px;
        font-size: 20px;
    }

    .social-networks i {
        font-size: 35px;
        margin: 2px;
        padding: 5px;
        color: black;

    }

    footer {
        width: 100vw;
        height: 10vh;

    }

    .container {
        flex-direction: column;
    }

    .container .contactInfo {
        margin-bottom: 20px;
        z-index: -1;
    }

    .container .contactInfo {
        width: 100%;
        margin-left: 45vh;

    }

    .box1 {
        display: grid;
        gap: 1rem;
    }

    .freedom-fighter-movies {
        display: grid;
        gap: 1rem;
    }
   

}

@media screen and (max-width:686px) {

    nav {
        min-width: 100vw;
        min-height: 80px;
    }

}

.topnav {
    overflow: hidden;
    background-color: orange;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
  }
  
  
  .topnav a.active {
    background-color: #000000;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav .hidden a {display: none;}
    .topnav .hidden a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }