/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Source+Sans+Pro:wght@300;400&display=swap');

/* default styles */
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}
/* base styles */
body {
    font-family: sans-serif;
    font-weight: 200;
    color: black;
    background-color: #f3edeb;
}

/* **********Index page style********** */
.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}

.topnav {
    overflow: hidden;
    background-color: orange;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
}

.topnav a.active {
    background-color: orange;
    color: black;
}

.topnav .icon {
    display: none;
}
.topnav {
    width: 100vw;
}

#image-outer {
    width: 100vw;
    height: 80vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    object-fit: cover;
    background-image: url("images/main-image.webp");
}

#middlename {
    text-align: center;
    margin: 30px 0;
    font-size: 3rem;
}

#middletext {
    margin: 20px;
    font-size: 1.3rem;
    text-align: justify;
}

.first-line {
    display: flex;
    justify-content: space-around;
}

.box {
    flex: 0 0 40%;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(247, 244, 239);
    margin-top: 15px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 3px;
}

.cards {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
}

h3 {
    line-height: 30pt;
}

img {
    width: 20vw;
    height: 40vh;
    object-fit: cover;
}

/* ******* footer style ********* */
footer {
    margin-top: 20px;
    bottom: 0;
    left: 0;
    right: 0;
    background: orange;
    height: 20vh;
    width: 100vw;
    color: black;
}

.social-networks {
    text-align: center;
    background-color: orange;
}

.social-networks > li {
    display: inline;
    margin: 20px;
}

.social-networks i {
    font-size: 1.5rem;
    margin: 2px;
    padding: 15px;
    color: black;
}

.social-networks i:hover {
    color: aliceblue;
}

/* *********** History page************* */

h2 {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

h2:before,
h2:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    margin: auto;
}

h2:before {
    margin-right: 15px;
}

h2:after {
    margin-left: 15px;
}

.flag-image {
    width: 25vw;
    height: 30vh;
}

.flag-year {
    flex: 0 0 40%;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    background-color: rgb(247, 244, 239);
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 3px;
}

.flag-box {
    max-width: 1200px;
    margin: 10px auto;
    display: grid;
    gap: 1rem;
}

.flag-year > img {
    width: 300px;
    height: 200px;
}

.flag-year > p {
    justify-items: center;
    margin-top: 10px;
    padding: 5px;
}

.more-history > p {
    font-size: large;
    text-decoration: none;
    color: black;
    line-height: 20pt;
}

.indian-achievement {
    margin: 50px;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
}

.indian-achievement-detail {
    display: flex;
    text-align: justify;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    margin-top: 15px;
    background-color: rgb(247, 244, 239);
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
        rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border-radius: 20px;
}

iframe {
    margin-top: 20px;
    display: flex;
    width: 100vw;
    height: 60vh;
}

/* *********** Resources page************* */
.image {
    width: 30vh;
    height: 40vh;
    padding: 5px;
}

.box1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}

.book {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    text-align: center;
    transition: 1s;
}

.box1 a:hover {
    transform: scale(1.1);
    color: #0d0d0d;
}

.freedom-fighter-movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    
}

.movies {
    border: 2px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: 1s;
    margin-top: 20px;
}

.freedom-fighter-movies a:hover {
    transform: scale(1.1);
    color: black;
}
.book > h6 {
    color: black;
   
}

.movies > h6 {
    color: black;
    text-decoration: none;
}

.image-movies {
    width: 20vw;
    height: 40vh;
    padding: 10px;
    
}

.more-reference > p {
    text-align: center;
    margin: 20px;
    letter-spacing: 2px;
    font-size: large;
}

.reference-link p {
    font-size: large;
    text-decoration: none;
    color: black;
    line-height: 20pt;
}

.reference-link {
    border-radius: 2em;
    background-color: #fafafa;
    color: black;
    box-shadow: 0 1px 10px 2px rgba(28, 27, 27, 0.837);
    padding: 0.5rem 3rem;
    text-decoration: none;
    line-height: 20pt;
}

.reference-link:hover {
    background-color: black;
    color: #fafafa;
}

.history-link {
    border-radius: 2em;
    background-color: #fafafa;
    color: black;
    box-shadow: 0 1px 10px 2px rgba(28, 27, 27, 0.5);
    padding: 0.5rem 3rem;
    text-decoration: none;
    line-height: 20pt;
}

.more-history > p {
    text-align: center;
    margin: 20px;
    letter-spacing: 2px;
    font-size: large;
}

.history-link:hover {
    background-color: black;
    color: #fafafa;
}

/* *********** Contact page************* */

.contactForm {
    width: 30vw;
    display: block;
    margin: auto;
    
}

.contact-text{
    line-height: 20pt;
    font-size: 1.7rem;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

form {
    font-size: 20px;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    padding: 30px;
    overflow: hidden;
    background-color: orange;
    border-radius: 20px;
    color: black;
}

input[type="text"] {
    width: 100%;
    display: block;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="email"] {
    width: 100%;
    display: block;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
}

input,
input::placeholder {
    font-size: 20px;
}

textarea {
    width: 100%;
    height: 100px;
    display: block;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 50%;
    height: 30px;
    background-color: black;
    color: #fafafa;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: whitesmoke;
    color: black;
    font-weight: 600;
}

/* *********** Thankyou page************* */

.thankyou-img {
    width: 30vw;
    height: 40vh;
    border-radius: 10px;
    display: block;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 10px;
}
.thanks-text {
    text-align: center;
    font-size: x-large;
    margin-top: 20px;
}

.thanks-texts {
    text-align: center;
    margin-top: 10px;
}

/* meadia Query for different screen */
@media screen and (max-width: 1250px) {
    .cards {
        grid-template-columns: repeat(2, 1fr) !important;
    }
    .indian-achievement-detail {
        margin: 10px;
    }
    .cards {
        margin: 10px;
    }
}

@media screen and (max-width: 700px) {
    .cards {
        grid-template-columns: repeat(1, 1fr) !important;
    }

    .box {
        width: 90%;
        margin: auto;
    }
    .flag-year {
        width: 90%;
        margin: auto;
    }
    .indian-achievement-detail {
        width: 90%;
        margin: auto;
        margin-top: 10px;
    }

    .flag-box {
        grid-template-columns: repeat(1, 1fr);
    }

    .indian-achievement {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 900px) {
    .cards {
        grid-template-columns: repeat(3, 1fr);
    }

    .flag-box {
        grid-template-columns: repeat(3, 1fr);
    }

    .indian-achievement {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 952px) {
    .thankyou-img {
        width: 60vw;
        height: 40vh;
    }
}

@media screen and (max-width: 994px) {
    .social-networks ul {
        position: static;
        width: 100%;
        height: 60vh;
        background-color: black;
        color: #fafafa;
        text-align: center;
        transition: all 0.5s;
    }

    #image {
        width: 100%;
        height: 100%;
    }

    .social-networks > li {
        display: inline;
        margin-bottom: 10px;
    }

    .social-networks li h6 {
        margin-top: 10px;
        font-size: 20px;
    }

    .social-networks i {
        font-size: 35px;
        margin: 2px;
        padding: 5px;
        color: black;
    }

    footer {
        width: 100vw;
        height: 10vh;
    }
    img {
        width: 45vw;

    }

    .image-movies {
        width: 35vw;
        padding: 5px;
    }
    .image {
        width: 35vw;
        padding: 5px;
    }

    .box1 {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }
    .flag-box{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    

    .freedom-fighter-movies {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }
    #image-outer {
        width: 100vw;
        height: 50vh;
    }
    h2 {
        text-align: center;
    }
    .contactForm {
        display: inline-block;
        margin: 40px;
        width: 80vw;
    }
}

@media screen and (max-width: 600px) {
    .topnav .hidden a {
        display: none;
    }
    .topnav .hidden a.icon {
        float: right;
        display: block;
    }
    .thanks-text .thanks-texts {
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .image-movies .image {
        width: 20vw;
        height: 20vh;
    }
}
